<!doctype html>
<html>
<head>
    <title>JournalFy</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Righteous|Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
  <body class="logInBody">
      <header class="logInHeader">
        <section class="logoFy">
          <a href="/"><h1>JournalFy</h1></a>
        </section>
        <section>
          <a href="/login" class="btn btn-default">Login</a>
          <a href="/signup" class="btn btn-default">Signup</a>
        </section>
      </header>
      <section class="homePageOne">
        <h1>Welcome to Journalfy</h1>
        <p>Journal on the go, wherever you are.</p>
      </section>
      <section class="homePageTwo">
        <section>
          <p>Log your own personal journals</p>
          <p>Share with friends</p>
          <p>Like your favorite posts</p>
          <p>Write your wildest dreams!</p>
        </section>
      </section>
  </body>
</html>
